body{
    background-image:url(/assets/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
    background-size: cover;
}

.upgradePics{
    max-width: 250px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
}

.pointer{
    cursor: pointer;
}

.moon:hover{
    transform: scale(1.01);
}
.pop:hover{
    transform: scale(1.02);
    transform: skew(-0.02turn, 5deg);
    box-shadow: 3px 3px 3px silver
}
