body{
    background-image:url(/assets/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
    background-size: cover;
}

.upgradePics{
    max-width: 250px;
    max-height: 150px;
}

.pointer{
    cursor: pointer;
}